dwexamples/src/main/mule/dwexamples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="34f527e1-d223-465c-a1a3-c73f403d9a09" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="5d6067d4-881c-49dd-9b32-023707c597ba" >
		<file:connection workingDir="E:\MuleWorkspace7.4.1\dwexamples\src\main\resources\examples" />
	</file:config>
	<sub-flow name="groupBy" doc:id="68762358-a1ea-4ae6-9018-507cf5da482a" >
		<ee:transform doc:name="GroupByOperation" doc:id="c7914c55-2a85-4cf5-b1be-e501aa2dba5a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload groupBy $.Type mapObject ((item, index) ->
		(index) : item.AcctID
	)
	
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0a5e323c-870d-4ad2-9d99-675345eca8df" message="#[payload]"/>
	</sub-flow>
	<sub-flow name="distinctBy" doc:id="34758e38-031c-4f3a-8ca5-ed2382015ce5" >
		<ee:transform doc:name="DistinctByOperation" doc:id="ebcbbcec-de98-42be-af49-6fce4a802d88" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload distinctBy $.Type map((item, index) ->
	
	(item.Type): item.AcctID
)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7bd461d5-3d8b-49a7-8e60-536c167004a7" message="#[payload]"/>
	</sub-flow>
	<sub-flow name="reverseString" doc:id="77764efe-81dc-4580-b269-3a334f27d604" >
		<ee:transform doc:name="Transform Message" doc:id="d84e2fbb-e377-4465-85c3-9d864dc5633c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java

var inputString = "MuleSoft"
---

"string" : inputString[-1 to 0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="79e060c0-dd3b-4518-bab5-b4c1a4bc2d3b" />
	</sub-flow>
	<sub-flow name="reduce" doc:id="3b274e0f-0ef8-422e-9f16-d41aa895a02c" >
		<ee:transform doc:name="Transform Message" doc:id="77a7ffb6-7d00-4884-9515-4c9880a37e14" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java

var item=5
---
1 to item reduce ($*$$)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d6c83e61-de9a-4dd1-9b63-42eeaf2727a6" message="#[payload]"/>
	</sub-flow>
	<flow name="dwexamplesFlow" doc:id="b7d8315e-ecd1-4c06-b3c6-04c8fe1a5553" >
		<http:listener doc:name="Listener" doc:id="0cb075b2-4fea-484d-801f-165a7dbb67d4" config-ref="HTTP_Listener_config" path="/dw"/>
		<flow-ref doc:name="Flow Reference" doc:id="ee54c237-9eb2-4672-8ea3-c67acbcc42cd" name="reduce"/>
		<flow-ref doc:name="Flow Reference" doc:id="f2c454e3-ab84-482d-af29-fd6a8133be39" name="reverseString"/>
		<file:read doc:name="Read" doc:id="201c5adc-1c5a-4039-957a-d6ef86dbb0ea" config-ref="File_Config" path="itemdetails.json"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="822b5faa-5a8d-482d-9706-b64d4fbeed3a">
			<route >
				<flow-ref doc:name="Flow Reference" doc:id="6884a39b-dd23-485b-90ec-de443852dcca" name="distinctBy"/>
			</route>
			<route >
				<flow-ref doc:name="Flow Reference" doc:id="026738c6-c703-4c85-98f0-c3bf59fca76e" name="groupBy" />
			</route>
		</scatter-gather>
	</flow>
</mule>
